body {
    font-family: sans-serif;
    font-size: 1.0em;
    color: #4d4d4d;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 5em;
}


h1 {
    font-size: 2em;
    padding-top: 1em;
    padding-left: 1.3em;
}

.week {
    background-color: white;
    /*border-radius: .25em;*/
    border: .15em solid #838383;
    width: .8em;
    height: .8em;
}

.filled {
    background-color: #a8a8a8;
}

.col-space {
    width: .3em;
    display: block;
}

.row-space {
    height: .4em
}

.birth-date-selector {
    padding-left: 2.8em;
}

.footer {
    padding-left: 2.8em;
}

.col-label {
    font-size: .8em;
    padding-top: .2em;
    padding-left: .2em;
}

.row-label {
    font-size: .8em;
    padding-top: .2em;
    padding-left: .2em;
}